<h4>Character Info</h4>
<table class="table">
  <tr>
    <td width="40%">Name</td>
    <td>{{ cdata.name }}</td>
  </tr>
  <tr>
    <td>Class</td>
    <td>{{ cdata.class }}</td>
  </tr>
  <tr>
    <td>Level</td>
    <td>{{ cdata.level }}</td>
  </tr>
  <tr>
    <td>Paragon Level</td>
    <td>{{ cdata.paragonLevel }}</td>
  </tr>
</table>

<h4>Character Stats</h4>
<table class="table">
  {{#each cdata.stats}}
  <tr>
    <td width="40%">{{@key}}</td>
    <td>{{ this }}</td>
  </tr>
  {{/each}}
</table>

<h4>Active Skills</h4>
<table class="table">
  <thead>
    <tr>
      <th>Slot</th>
      <th>Skill</th>
      <th>Rune</th>
    </tr>
  </thead>
  <tr>
    <td>LMB</td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.0.skill.name}}" data-content="{{cdata.skills.active.0.skill.description}}">{{cdata.skills.active.0.skill.name}}</a></td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.0.rune.name}}" data-content="{{cdata.skills.active.0.rune.description}}">{{cdata.skills.active.0.rune.name}}</a></td>
  </tr>
  <tr>
    <td>RMB</td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.1.skill.name}}" data-content="{{cdata.skills.active.1.skill.description}}">{{cdata.skills.active.1.skill.name}}</a></td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.1.rune.name}}" data-content="{{cdata.skills.active.1.rune.description}}">{{cdata.skills.active.1.rune.name}}</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.2.skill.name}}" data-content="{{cdata.skills.active.2.skill.description}}">{{cdata.skills.active.2.skill.name}}</a></td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.2.rune.name}}" data-content="{{cdata.skills.active.2.rune.description}}">{{cdata.skills.active.2.rune.name}}</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.3.skill.name}}" data-content="{{cdata.skills.active.3.skill.description}}">{{cdata.skills.active.3.skill.name}}</a></td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.3.rune.name}}" data-content="{{cdata.skills.active.3.rune.description}}">{{cdata.skills.active.3.rune.name}}</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.4.skill.name}}" data-content="{{cdata.skills.active.4.skill.description}}">{{cdata.skills.active.4.skill.name}}</a></td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.4.rune.name}}" data-content="{{cdata.skills.active.4.rune.description}}">{{cdata.skills.active.4.rune.name}}</a></td>
  </tr>
  <tr>
    <td>4</td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.5.skill.name}}" data-content="{{cdata.skills.active.5.skill.description}}">{{cdata.skills.active.5.skill.name}}</a></td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.active.5.rune.name}}" data-content="{{cdata.skills.active.5.rune.description}}">{{cdata.skills.active.5.rune.name}}</a></td>
  </tr>
</table>

<h4>Passive Skills</h4>
<table class="table">
  <thead>
    <tr>
      <th>Slot</th>
      <th>Skill</th>
    </tr>
  </thead>
  <tr>
    <td>1</td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.passive.0.skill.name}}" data-content="{{cdata.skills.passive.0.skill.description}}">{{cdata.skills.passive.0.skill.name}}</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.passive.1.skill.name}}" data-content="{{cdata.skills.passive.1.skill.description}}">{{cdata.skills.passive.1.skill.name}}</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.passive.2.skill.name}}" data-content="{{cdata.skills.passive.2.skill.description}}">{{cdata.skills.passive.2.skill.name}}</a></td>
  </tr>
  <tr>
    <td>4</td>
    <td><a href="#" class="po" data-toggle="popover" data-trigger="hover" title="{{cdata.skills.passive.3.skill.name}}" data-content="{{cdata.skills.passive.3.skill.description}}">{{cdata.skills.passive.3.skill.name}}</a></td>
  </tr>
</table>

<h4>Items</h4>
<table class="table">
  <thead>
    <tr>
      <th>Slot</th>
      <th>Item</th>
    </tr>
  </thead>


  {{#each cdata.items}}
    {{#if this.name}}
      <tr>
        <td>
          {{@key}}
        </td>
        <td>
          <span class="item {{this.displayColor}} pull-left"><img src="//media.blizzard.com/d3/icons/items/large/{{{this.icon}}}.png" /></span>
          <span class="text {{this.displayColor}}" data-itemid="{{this.id}}">{{this.name}}</span><br />
        </td>
      </tr>
    {{/if}}
  {{/each}}
</table>

<script type="text/javascript">
  $(document).ready(function(){
    $('.po')
    .on('click', function(event){
      event.preventDefault();
    })
    .popover({
      placement: 'top'
    });
  });
</script>
